html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    font-family: Philosopher, sans-serif;
    color: #404040;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #323232;
}

#wrapper {
    width: 450px;
    height: 500px;
    margin-top: 24px;
    border: 1px solid #bfbfbf;
}

main {
    width: 490px;
    margin: auto;
    padding: 10px 20px;
}